In [4]:
import pandas as pd

In [7]:
op_list=pd.read_csv('../data/opioids.csv')
op_list

                          Drug Name                    Generic Name
0                           ABSTRAL                FENTANYL CITRATE
1             ACETAMINOPHEN-CODEINE      ACETAMINOPHEN WITH CODEINE
2                             ACTIQ                FENTANYL CITRATE
3               ASCOMP WITH CODEINE  CODEINE/BUTALBITAL/ASA/CAFFEIN
4    ASPIRIN-CAFFEINE-DIHYDROCODEIN  DIHYDROCODEINE/ASPIRIN/CAFFEIN
..                              ...                             ...
108                   XODOL 7.5-300       HYDROCODONE/ACETAMINOPHEN
109                        XYLON 10           HYDROCODONE/IBUPROFEN
110                         ZAMICET       HYDROCODONE/ACETAMINOPHEN
111                      ZOHYDRO ER          HYDROCODONE BITARTRATE
112                          ZOLVIT       HYDROCODONE/ACETAMINOPHEN

[113 rows x 2 columns]

In [9]:
overdoses_2014=pd.read_csv('../data/overdoses.csv')
overdoses_2014

             State  Population Deaths Abbrev
0          Alabama   4,833,722    723     AL
1           Alaska     735,132    124     AK
2          Arizona   6,626,624  1,211     AZ
3         Arkansas   2,959,373    356     AR
4       California  38,332,521  4,521     CA
5         Colorado   5,268,367    899     CO
6      Connecticut   3,596,080    623     CT
7         Delaware     925,749    189     DE
8          Florida  19,552,860  2,634     FL
9          Georgia   9,992,167  1,206     GA
10          Hawaii   1,404,054    157     HI
11           Idaho   1,612,136    212     ID
12        Illinois  12,882,135  1,705     IL
13         Indiana   6,570,902  1,172     IN
14            Iowa   3,090,416    264     IA
15          Kansas   2,893,957    332     KS
16        Kentucky   4,395,295  1,077     KY
17       Louisiana   4,625,470    777     LA
18           Maine   1,328,302    216     ME
19        Maryland   5,928,814  1,070     MD
20   Massachusetts   6,692,824  1,289     MA
21        Michigan   9,895,622  1,762     MI
22       Minnesota   5,420,380    517     MN
23     Mississippi   2,991,207    336     MS
24        Missouri   6,044,171  1,067     MO
25         Montana   1,015,165    125     MT
26        Nebraska   1,868,516    125     NE
27          Nevada   2,790,136    545     NV
28   New Hampshire   1,323,459    334     NH
29      New Jersey   8,899,339  1,253     NJ
30      New Mexico   2,085,287    547     NM
31        New York  19,651,127  2,300     NY
32  North Carolina   9,848,060  1,358     NC
33    North Dakota     723,393     43     ND
34            Ohio  11,570,808  2,744     OH
35        Oklahoma   3,850,568    777     OK
36          Oregon   3,930,065    522     OR
37    Pennsylvania  12,773,801  2,732     PA
38    Rhode Island   1,051,511    247     RI
39  South Carolina   4,774,839    701     SC
40    South Dakota     844,877     63     SD
41       Tennessee   6,495,978  1,269     TN
42           Texas  26,448,193  2,601     TX
43            Utah   2,900,872    603     UT
44         Vermont     626,630     83     VT
45        Virginia   8,260,405    980     VA
46      Washington   6,971,406    979     WA
47   West Virginia   1,854,304    627     WV
48       Wisconsin   5,742,713    853     WI
49         Wyoming     582,658    109     WY

In [13]:
long_df=pd.read_csv('../data/Wide_Master.csv')
long_df

,State,County,Year,Total,Heroin,Other,Methadone,Population,LandArea,Bike,...,Income,Non_US_Born,Bachelor_Degree,Grad_Degree,HS_Grad,Less_Than_HS,Associates_Degree,Unemployment,GDP Total,"GDP Education, Health, Social Assistance"
0,Alabama,Baldwin,2011,10.0,NaN,NaN,NaN,186717.0,1589.78,1.0,...,67770.0,5147.0,22946.0,10923.0,36271.0,15094.0,39216.0,9.0,5016735.0,478277
1,Alabama,Cullman,2011,NaN,NaN,NaN,NaN,80536.0,734.84,NaN,...,51374.0,1582.0,4807.0,2940.0,17883.0,12788.0,16286.0,9.5,2298846.0,207610
2,Alabama,Etowah,2011,NaN,NaN,NaN,NaN,104303.0,534.99,NaN,...,51330.0,1833.0,6642.0,4270.0,22939.0,13064.0,24325.0,10.0,2801621.0,430563
3,Alabama,Jefferson,2011,39.0,10.0,28.0,10.0,658931.0,1111.28,0.1,...,66409.0,20934.0,78798.0,48016.0,121313.0,58142.0,131726.0,9.3,39515681.0,4542034
4,Alabama,Madison,2011,14.0,NaN,12.0,NaN,340111.0,801.59,0.3,...,76342.0,14164.0,50973.0,30157.0,48925.0,24067.0,62801.0,8.3,19512201.0,1135690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5407,Wisconsin,Washington,2017,18.0,NaN,12.0,NaN,135101.0,430.70,0.1,...,89470.0,2956.0,20316.0,7526.0,28297.0,5231.0,32364.0,2.8,5636773.0,476010
5408,Wisconsin,Waukesha,2017,52.0,27.0,27.0,NaN,400621.0,549.57,0.1,...,105275.0,17376.0,78511.0,40693.0,65576.0,11104.0,81873.0,2.9,28028503.0,2927629
5409,Wisconsin,Winnebago,2017,16.0,NaN,NaN,NaN,170414.0,434.49,0.4,...,71572.0,4719.0,22213.0,8838.0,39008.0,8679.0,34896.0,3.0,9274302.0,649081
5410,Wyoming,Fremont,2017,NaN,NaN,NaN,NaN,39803.0,9183.81,NaN,...,70101.0,469.0,4158.0,2073.0,8497.0,2381.0,9672.0,5.5,1595939.0,138479
5411,Wyoming,Natrona,2017,NaN,NaN,NaN,NaN,79547.0,5340.35,NaN,...,76044.0,1981.0,8086.0,4316.0,15965.0,4255.0,21758.0,5.2,5171022.0,(D)

In [29]:
long_df=long_df.fillna(0)
long_df.to_csv('../data/Wide_Master_clean.csv')